@media screen and (min-width: 768px) {

    main {
        position: relative;
    }

    .weather-icon {
        display: none;
    }

    .weather h2::after {
        content: " ⛅";
    }

    .data {
        position: absolute;
        top: 50px;
        left: 30px;

        width: 250px;

        background: rgba(255, 255, 255, .85);
    }

    .weather {
        position: absolute;
        bottom: 50px;
        right: 30px;

        width: 250px;

        background: rgba(255, 255, 255, .85);
    }
}